* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body{
    font-size: 100%;
   
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    background: linear-gradient(0.25turn, #f2eff6, #e9c8f6, #c5a0f9);
}

.cabecalho-imagem {
    height: 60px;
}

.cabecalho-menu{
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item {
    font-family: serif;
    color: rgb(104, 98, 132);
    font-weight: 400;
    font-size: 18px;
    
}

.imagem {
    margin-top: 35px;
    margin-left: 340px;
    margin-right: 220px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    height: 500px;
} 

.parte{
    background-color: #cca2fd;
    size: 45px;

}

.primeiro-texto-titulo{
    text-align: center;
    margin-bottom: 15px;
}

.primeiro-texto{
    margin-top: 3%;
    margin-left: 320px;
    margin-right: 420px;
    display:grid;
    text-align: justify;
    text-indent: 20px;
}

.nutri{
    display: flex;
    flex-direction:row-reverse;
    align-items: center;
    justify-content: space-around; 
    max-width: 120vh;
    margin-left: 270px;
    gap: 40px;
}

.nutri-texto{
    text-align: justify;
    text-indent: 50px; 
}

.nutri-imagem{
   background: no-repeat;
   background: cover;
   height: 350px;
}

.titulo-servico{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 15px;
    padding: 20px;
    background-color: #cca2fd;
    
}

.ficha{
    display: flex;
    flex-direction:row-reverse;
    align-items: center;
    justify-content: space-around; 
    max-width: 120vh;
    margin-left: 270px;
    gap: 40px;
    background-color:#cca2fd;
    
}

.ficha-texto{
    text-align:start;
    text-indent: 50px;
}

.ficha-imagem{
   background: no-repeat;
   background: cover;
   height: 300px;
}

.controle{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around; 
    max-width: 120vh;
    margin-left: 320px;
}

.controle-texto{
    text-align: justify;
    text-indent: 60px;
}

.controle-imagem{
   background: no-repeat;
   background: cover;
   height: 300px;
}

.layout{
    display: flex;
    flex-direction:row-reverse;
    align-items: center;
    justify-content: space-around; 
    max-width: 150vh;
    margin-left: 100px;
    background-color: #cca2fd;
}

.layout-texto{
    text-align: justify;
    text-indent: 50px;
}

.layout-imagem{
    background: no-repeat;
    background: cover;
    height: 300px;
}

.elaboracao{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around; 
    max-width: 114vh;
    margin-left: 330px;
}

.elaboracao-texto{
    text-align: justify;
    text-indent: 50px;
}

.elaboracao-imagem{
   background: no-repeat;
   background: cover;
   width: 320px;
}

.rodape{
    padding: 100px;
    border-top: 1.0px solid #cca2fd;
}

.redes{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: first baseline;
    gap: 34px;
}

.insta{
    height: 180px;
    margin-right: 7000px;

}

.yt{
    height: 90px;
    margin-left: 50px;
}

.gmail{
    height: 80px;
    margin-left: 50px;
}
        

.box{
    color: white;
    position: relative;
    bottom: 70%;
    left: 85%;
    transform: translate(-50%,-50%);
    background-color: rgba(184, 65, 253, 0.6);
    padding: 15px;
    border-radius: 15px;
    width: 40%;
}

fieldset{
    border: 3px solid rgb(192, 61, 253)4, 255;
}
legend{
    border: 1px solid rgb(194, 63, 255);
    padding: 10px;
    text-align: center;
    background-color: rgb(203, 132, 250);
    border-radius: 8px;
}
.inputBox{
    position: relative;
}
.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}
.labelInput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}
.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
    top: -20px;
    font-size: 12px;
    color: rgb(250, 249, 252);
}

#data_nascimento{
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}

#submit{
    background-image: linear-gradient(to right,rgb(255, 255, 255), rgb(243, 243, 243));
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
#submit:hover{
    background-image: linear-gradient(to right,rgb(254, 253, 255), rgb(251, 250, 253));
}